---
import Layout from "./../components/Layout.astro"
import Group from "../components/group.astro"


const reqData = await fetch(import.meta.env.FETCH_TYPE)
const data = await reqData.json()
---


<Layout title="MBTI say">
    <div class="cover h-[85vh] w-full rounded-2xl flex items-center justify-center">
        <h1 class="text-4xl font-extrabold border-l-8 border-gray-800 pl-4 text-gray-900">Know Yourself</h1>
    </div>
    <div class="h-max w-full py-14 px-8 lg:px-14  space-y-10">
        {data.map((val) => {
            return <Group title={val.title} mbtiType={val.groups}/>
        })}
    </div>
</Layout>

<style>
    .cover{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(/images/home.jpg);
    }
</style>